# DATA ANALYSIS WITH PYTHON
# Modulo 2 - Data Wrangling


**Materia: Ciencia y analítica de datos**


**Nombre: Samuel Elias Flores Gonzalez**


**Matricula: A01793668**

# **Preprocesamiento de datos**

El preprocesamiento de datos es un paso necesario para el análisis de los datos, y este mismo se define como el proceso de convertir los datos de un formato inicial hacia otro formato ordenado y preparado para su análisis. (Limpieza de datos).

**Objetivos:**

Identificar y manipular valores faltantes.

Formateo de datos.

Normalización de datos (escalado)

Copnvertir valores categóricos a numéricos.

Los datos faltantes se pueden representar como:

1-?

2-N/A

3-O 

4-Espacio en blanco

# **Lidiando con valores faltantes en los registros de datos:**

-Investigar los valores faltantes para completar los datos.

-Eliminando valores faltantes:

Eliminar por completo la variable (Si son muchos registros a los cuales les falta una variable en específico).

Eliminar los registros con valores faltantes. (si no son tantos valores faltantes en una misma variable)

-Remplazar los datos faltantes:

Remplazar por promedio de la columna.

Remplazar por la moda de la columna.

Remplazar por medio de alguna función

-Dejarlo como dato faltante.

In [53]:
import pandas as pd                    #Importamos librerias
import matplotlib.pylab as plt
import numpy as np

In [54]:
#Almacenamos los datos en filename
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [55]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",             #Le damos nombre a las columnas
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [56]:
df = pd.read_csv(filename, names = headers)   #Creamos el dataframe

In [57]:
df.head(5)   #Mostramos los datos del dataframe df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [58]:
df.replace("?", np.nan, inplace = True)  #Remplazamos los simbolos por nan

In [59]:
missing_data = df.isnull()     #Mostramos los valores vacios (observamos 5 registros con datos vacios)
missing_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [60]:
for column in missing_data.columns.values.tolist():         #Contamos los datos vacios de cada columna del dataframe
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

In [61]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)     #Calculamos el promedio de la columna horsepower para sustituir los valores vacios
print("Average horsepower:", avg_horsepower)

Average horsepower: 104.25615763546799

In [62]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)   #Remplazamos los datosa vacios por el promedio

In [63]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)           #Calculamos el promedio de la columna peak rmp para sustituir los valores vacios
print("Average peak rpm:", avg_peakrpm)

Average peak rpm: 5125.369458128079

In [64]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)     #Remplazamos los datosa vacios por el promedio

In [65]:
df.dropna(subset=["price"], axis=0, inplace=True)  #Eliminamos todos los registros con datos vacios en precio

In [66]:
df.head()  #Mostramos el dataframe

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [67]:
df.dtypes   #Mostramos el tipo de dato de cada columna

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [68]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")      #Convertimos los datos para darle un formato adecuado
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

In [69]:
df.dtypes   #Tipos de datos despues de conversion

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [70]:

df['city-L/100km'] = 235/df["city-mpg"]   #Convertimos los datos de millas por galon a litros por 100 km

# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556

# **Question 1**
Based on the example above, replace NaN in "stroke" column with the mean value.

In [71]:
#Calculamos promedio
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

# remplazamos nan por promedio
df["stroke"].replace(np.nan, avg_stroke, inplace = True)

Average of stroke: 3.256903553299492

# **Question 2:**
According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".

In [72]:
#Convertimos los datos de millas por galon a litros por 100 km
df["highway-mpg"] = 235/df["highway-mpg"]

# renombramos la columna
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

# Mostramos el resultado
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,8.703704,13495.0,11.190476
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,8.703704,16500.0,11.190476
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,9.038462,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,7.833333,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,10.681818,17450.0,13.055556

In [73]:
df['length'] = df['length']/df['length'].max()       #Normalizamos las variables escalandolas
df['width'] = df['width']/df['width'].max()

# **Question 3:**
According to the example above, normalize the column "height".

In [74]:
df['height'] = df['height']/df['height'].max()   #Normalizamos la columna altura

# Mostramos las columnas escaladas
df[["length","width","height"]].head()

     length     width    height
0  0.811148  0.890278  0.816054
1  0.811148  0.890278  0.816054
2  0.822681  0.909722  0.876254
3  0.848630  0.919444  0.908027
4  0.848630  0.922222  0.908027

In [75]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)   #Convertimos los datos en el tipo correcto