# **Practica 1**

CONDITIONS AND BRANCHING

In [1]:
a=6    #Asignacion
a==7   #Comparacion

False

In [2]:
a=6    #Asignacion
a==6   #Comparacion

True

In [3]:
a=6   #Asignacion
a>5   #6 mayor que 5?

True

In [5]:
a=6  #Asignacion
a<5  #6 menor que 5?

False

In [6]:
a=2  #Asignacion
a<5  #2 menor que 5?

True

In [8]:
a=3
a!=7    #No es igual a 7?

True

In [9]:
a=7
a!=7    #No es igual a 7?

False

In [11]:
"ACDC" == "Michael"   #Comparacion de cadena

False

In [17]:
age = 18             #Si es mayor de 18 puede pasar
if age > 18:
  print("Puedes pasar")
print("Avanza")

Avanza

In [18]:
age1 = 22             #Si es mayor de 18 puede pasar
if age1 > 18:
  print("Puedes pasar")
print("Avanza")

Puedes pasar
Avanza

In [21]:
age2 = 22             #Si es mayor de 18 puede pasar
if age2 > 18:
  print("Puedes pasar")
else:
  print("Ve a ver meat loaf")

Puedes pasar

In [22]:
age2 = 11             #Si es mayor de 18 puede pasar
if age2 > 18:
  print("Puedes pasar")
else:
  print("Ve a ver meat loaf")

Ve a ver meat loaf

In [28]:
age4 = 20

if age4 > 18:
  print("puedes pasar")
elif(age4 == 18):                                #ELIF (IF ELSE) sirve para agregar otra condicion dentro del if Si este primero no es verdadero
  print("Ve a ver a pink floyd")
else:
  print("Ve a ver Meat loaf")

print("Avanza")

puedes pasar
Avanza

In [29]:
age4 = 18

if age4 > 18:
  print("puedes pasar")
elif(age4 == 18):
  print("Ve a ver a pink floyd")
else:
  print("Ve a ver Meat loaf")

print("Avanza")

Ve a ver a pink floyd
Avanza

In [31]:
not(True) #False Invierte el resultado

False

In [32]:
not(False) #True Invierte el resultado

True

In [33]:

album_year = 1990
if(album_year < 1980) or (album_year > 1989):            #El operador OR requiere de solo un elemento verdadero para que el resultado sea verdadero
  print("The album was made in the 70's or 90's")
else:
  print("The album was made in the 1980's")

The album was made in the 70's or 90's

In [34]:

album_year = 1988
if(album_year < 1980) or (album_year > 1989):          #El operador OR requiere de solo un elemento verdadero para que el resultado sea verdadero
  print("The album was made in the 70's or 90's")
else:
  print("The album was made in the 1980's")

The album was made in the 1980's

In [35]:
album_year = 1984
if(album_year > 1979) and (album_year < 1990):        #El operador AND requiere que todas las variables condicionadas sean verdaderas para regresar un valor verdadero    
  print("The album was made in the 80's")
else:
  print("The album was made before 80's or after 90's")

The album was made in the 80's

LOOPS

In [37]:
range(10,15) #Entrega una secuencia ordenada en lista

range(10, 15)

In [39]:
squares = ["red","yellow","green","purple","blue"]  #El ciclo se ejecutara cambiando los valores de cada uno de los colores a Blanco uno por uno
print(squares)  
for i in range(0,5):                                #El rango es de 0 a 5
  squares[i]="white"
  print(squares)

['red', 'yellow', 'green', 'purple', 'blue']
['white', 'yellow', 'green', 'purple', 'blue']
['white', 'white', 'green', 'purple', 'blue']
['white', 'white', 'white', 'purple', 'blue']
['white', 'white', 'white', 'white', 'blue']
['white', 'white', 'white', 'white', 'white']

In [42]:
squares = ["red","yellow","green"]
for i, square in enumerate(squares):                     #Se mostrara el color y su enumeracion en el ciclo
  square
  i
  print(i)
  print(square)

0
red
1
yellow
2
green

In [45]:
squares = ["orange","orange","purple","blue"]
newSquares = []
i = 0
while(squares[i]=='orange'):                              #El ciclo se ejecutara hasta que se deje de cumplir la condicion por lo cual solo se imprime los orange
  newSquares.append(squares[i])
  i+=1

print(newSquares)

['orange', 'orange']

In [46]:
squares = ["orange","purple","blue"]
newSquares = []
i = 0
while(squares[i]=='orange'):                              #El ciclo se ejecutara hasta que se deje de cumplir la condicion por lo cual solo se imprime los orange
  newSquares.append(squares[i])
  i+=1

print(newSquares)

['orange']

FUNCTIONS

In [50]:
Album_Ratings=[10,8,9,7,9,8,7,9]
L=len(Album_Ratings) #Para determinar la longitud 
print(L)

8

In [53]:
S=sum(Album_Ratings) #Regresa la suma de los elementos
print(S)

67

In [55]:
Sortes_album=sorted(Album_Ratings) #Ordena los elementos
print(Sortes_album)

[7, 7, 8, 8, 9, 9, 9, 10]

In [62]:
Album_Ratings.sort() #Ordena los elementos en la misma variable
print(Album_Ratings)

[7, 7, 8, 8, 9, 9, 9, 10]

In [70]:
def add1(a):    #Se define la funcion add

  b = a + 1     #el parametro de entrada se le suma 1
  return b      #Retorna el valor de operacion
      
c=add1(10)      #C toma el valor de retorno de la funcion

print(c)

11

In [71]:
def add1(a):    #Se define la funcion add

  b = a + 1     #el parametro de entrada se le suma 1
  return b      #Retorna el valor de operacion
      
c=add1(6)       #C toma el valor de retorno de la funcion

print(c)

7

In [72]:
def mul1(a):    #Se define la funcion add

  b = a * 2     #el parametro de entrada se multiplica por 2
  return b      #Retorna el valor de operacion
      
c=mul1(6)       #C toma el valor de retorno de la funcion

print(c)

12

In [73]:
def mul1(a):    #Se define la funcion add

  b = a * 2     #el parametro de entrada se multiplica por 2
  return b      #Retorna el valor de operacion
      
c=mul1(33)     #C toma el valor de retorno de la funcion

print(c)

66

In [76]:
#Multiples parametros de entrada


def mult2(a,b):
  c = a * b
  return c

x=mult2(33, 44)     #C toma el valor de retorno de la funcion

print(x)

1452

In [77]:
#Multiples parametros de entrada


def mult2(a,b):
  c = a * b
  return c

x=mult2(4, 8)     #C toma el valor de retorno de la funcion

print(x)

32

In [78]:
#Multiples parametros de entrada


def mult2(a,b):
  c = a * b
  return c

x=mult2(4, "Michael")     #C toma el valor de retorno de la funcion

print(x)

MichaelMichaelMichaelMichael

In [ ]:
#loops in functions
# we can use loops to generate looping actions without being rewrinting the same loop everytime we need them
def printStuff(stuff):
  """
  Will be printing the rating value for every album indexed
  """
  for i,s in enumerate(stuff):
    print("Album", i, "Rating is ", s)

album_ratings = (10.0,8.5,9.5)
printStuff(album_ratings)

In [80]:
def MJ():                              #Funcion sin parametros de entrada
   print("Michael Jackson")

MJ()

Michael Jackson

In [81]:
def noWork():
  pass         
print(noWork())                 #Regresa un None

None

In [83]:
def printStuff(stuff):                               #Es posible encontrar ciclos dentro de funciones 

  for i,s in enumerate(stuff):
    print("Album", i, "Rating is ", s)

album_ratings = (10.0,8.5,9.5)
printStuff(album_ratings)

Album 0 Rating is  10.0
Album 1 Rating is  8.5
Album 2 Rating is  9.5

In [86]:
def ArtistNames(*names):                           #Se imprimen los valores contenidos en la tupla

  for name in names:
    print(name)

ArtistNames("Michael Jackson", "AC/DC")

Michael Jackson
AC/DC

In [98]:
def AddDC(x):
  x=x+"DC"
  print(x)
  return(x)

  x="AC"
  z=AddDC(x)
  
  print(z)

In [99]:
def Thriller():                            #Variables Locales : solo estan dentro del scope de la funcion, fuera de este hace referencia a otra variable
  Date = 1982        
  return Date

Date = 2017
print(Thriller()) 
print(Date)

1982
2017

In [101]:
def ACDC(y):                               #Python busca la variable como global si esta no la encuentra en la funcion
  print(Rating)
  return(Rating+y)

Rating = 9
Z=ACDC(1)

print(Rating)

print(Z)

9
9
10

In [104]:
def PinkFloyd():                              #Se declara una variable dentro de la funcion como global, dandonos acceso a esta variable desde fuera de la funcion
  global ClaimedSales
  ClaimedSales = '45 Millions'
  return ClaimedSales

print(PinkFloyd()) 
print(ClaimedSales)

45 Millions
45 Millions

In [105]:
def f(*x):

  return sum(x)
print(f(5,6,7))

18

OBJECT AND CLASSES:

un objeto es una instancia de un tipo particular

Un metodo es una funcion que la clase o tipo provee

In [106]:
Ratings = [10,9,6,5,10,8,9,6,2]    #Sort es el metodo y rating es el objeto
Ratings.sort()

In [112]:
class Circle:                          # DefinicionClase
  radius,color=0,""
  def __init__(self, radius, color):   #Constructor es una funcion especial para decirle a python que estas haciendo una nueva clase
    self.radius = radius;              #Atributos
    self.color = color;                #Inizializacion

  def add_radius(self,r):              #Modifica radio
    self.radius = self.radius + r
    return (self.radius) 

  def drawCircle(self):
    print(self.radius, ",", self.color) #Imprime los parametros del circulo


C1 = Circle(10, 'red')  #Creacion de objeto R=10 y es rojo
C1.drawCircle()

C1.add_radius(5)        #Modificamos radio
C1.drawCircle()



class Rectangle(object ):
  def __init__(self, color, height, width):   #Contructor
    self.color = color;
    self.height = height;                    #Atributos
    self.width = width;


rectangle = Rectangle(3, 2, 'blue')

10 , red
15 , red

In [110]:
C2 = Circle(2, 'blue')  #Creacion de objeto R=10 y es rojo
C2.drawCircle()

C2.add_radius(1)        #Modificamos radio
C2.drawCircle()

2 , blue
3 , blue

In [111]:
A = ['1', '2', '3']

for a in A:
       print(2*a)

11
22
33