# Modulo 4
# Nombre: Samuel Elias Flores Gonzalez
#Matricula: A01793668

FILES: Creación y apertura de archivos con python

In [3]:
example1 = "/content/sample_data/Example1.txt"    # Guardamos la direccion en la variable example
file1 = open(example1, "r")                       #Abrimos el archivo con open, r es un parametro de modo, en este caso es reading

Hola, Este es un ejemplo

In [6]:
file1.name                                        #Imprimimos la direccion del archivo

'/content/sample_data/Example1.txt'

In [10]:
file1.mode                                        #Imprimimos el modo (exritura o lectura)

'r'

In [11]:
file1.close()                                     #Siempre debemos cerrar el archivo

In [31]:
with open(example1, "r") as file1:                #puede resultar tedioso tener que cerrar con close, para eso se puede usar with open
    File_stuff = file1.read()                     #With open ejecutará todo lo que este dentro de el y cerrara el archivo
    print(File_stuff)                             #imprime el contenido

print(file1.closed)                               #verificamos que el texto este cerrado
print(File_stuff)                                 #El texto esta almacenado en la variable File_stuff

Hola, Este es un ejemplo
This is line 1
This is line 2
True
Hola, Este es un ejemplo
This is line 1
This is line 2

In [19]:
with open(example1, "r") as file1:                #puede resultar tedioso tener que cerrar con close, para eso se puede usar with open
    File_stuff = file1.read()                     #With open ejecutará todo lo que este dentro de el y cerrara el archivo
    print(File_stuff)                             #imprime el contenido

print(file1.closed)                               #verificamos que el texto este cerrado
print(File_stuff)

Hola, Este es un ejemplo \n This is line 1 \n This is line 2
True
Hola, Este es un ejemplo \n This is line 1 \n This is line 2

In [30]:
with open(example1, "r") as file1: 
  File_stuff=file1.readline()                      #usamos readline para leer la primera linea del archivo
  print(File_stuff)                                #imprimimos el resultado

Hola, Este es un ejemplo

In [33]:
with open(example1, "r") as file1: 
  File_stuff=file1.readline()                      #usamos readline para leer la primera linea del archivo
  print(File_stuff)
  File_stuff=file1.readline()                      #Al usar dos veces readline imprimimos la siguiente linea de texto
  print(File_stuff)

Hola, Este es un ejemplo

This is line 1

In [37]:
with open(example1, "r") as file1:                  #podemos especificar cuantos caracteres deseamos mostrar
  File_stuff=file1.readline(5)                      #usamos 5 como argumento de los caracteres que deseamos imprimir
  print(File_stuff)
  File_stuff=file1.readline(3)                      #usamos 3 como argumento de los caracteres que deseamos imprimir
  print(File_stuff)

Hola,
 Es

In [60]:
with open(example1, "r") as file1:                 #Ejemplo de como ir leyendo el archivos definiendo la cantidad de caracteres
    print(file1.read(16))                          #Muestra 16 caracteres
    print(file1.read(5))                           #Muestra los siguientes 5
    print(file1.read(9))                           #Muestra los siguientes 9

Hola, Este es un
 ejem
plo
This

In [61]:
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: Hola, Este es un ejemplo

In [40]:
#Ejemplo para descargar un archivo
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

#Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [41]:
with open(example1,"r") as file1:                         #abrimos archivo
        i = 0;
        for line in file1:                                #mediante un ciclo imprimiremos las lineas del archivo
            print("Iteration", str(i), ": ", line)        #imprimir linea
            i = i + 1                                     #con i pasamos a la siguiente linea

Iteration 0 :  Hola, Este es un ejemplo

Iteration 1 :  This is line 1

Iteration 2 :  This is line 2

In [50]:
Example2 = 'Example2.txt'                                #Definimos el nombre del archivo
with open(Example2, 'w') as writefile:                   #Creamos y abrimos el archivo usando w de write
    writefile.write("This is line A")                    #Escribimos texto en el archivo

In [54]:
Example2 = 'Example2.txt'                                #Definimos el nombre del archivo
with open(Example2, 'w') as writefile:                   #Creamos y abrimos el archivo usando w de write
    writefile.write("This is line A")                    #Escribimos texto en el archivo

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]       #Definimos la lista de ineas
Lines

with open('Example2.txt', 'w') as writefile:                               #Escribimos las lineas contenidas en Lines
    for line in Lines:
        print(line)                                                        #Imprimimos 
        writefile.write(line)                                              #Guardamos

This is line A

This is line B

This is line C

In [64]:
#Ejemplo de como realizar copias de un archivo a otro

with open('Example2.txt','r') as readfile:                 #Leemos la informacion del archivo 2
    with open('Example3.txt','w') as writefile:            #La escribimos en un tercer archivo
          for line in readfile:
                writefile.write(line)

with open("Example3.txt", "r") as file1:
    print("Elemento copiado: " + file1.readline())

Elemento copiado: This is line A

In [66]:
#Para trabajar un archivo con informacion existente usamos a y r+
#w+ sobrescribe y elimina la informacion preexistente

with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))        #Tell regresa la posicion actual en bytes
    
    data = testwritefile.read()
    if (not data):                                                    #La cadenas vacias regresan un valor falso en python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0)                                           #Mueve cero bytes desde el principio
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 90
Read nothing

New Location : 0
This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

Location after read: 90

In [68]:
with open('Example2.txt', 'r+') as testwritefile:               #r+ puede ser util para agregar una funcion trucate()
    data = testwritefile.readlines()
    testwritefile.seek(0,0)                                     #Escribe a partir del principio
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line C
This is line D
This is line E

In [70]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [71]:
def cleanFiles(currentMem, exMem):
    # TODO: Open the currentMem file as in r+ mode
        #TODO: Open the exMem file in a+ mode

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem

        
    
    pass # Remove this line when done implementation


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    58985      2018-9-9     yes
    47410      2016-11-23   yes
    73854      2020-5-14    yes
    63971      2019-1-9     yes
    24056      2019-10-16   yes
    29577      2018-1-25    no
    14847      2015-11-3    no
    22365      2015-8-18    yes
    21103      2016-4-20    no
    68085      2017-5-13    no
    38483      2016-8-9     yes
    50267      2017-10-5    yes
    84037      2020-7-6     yes
    97003      2017-3-3     no
    37745      2020-2-5     no
    15821      2020-9-6     yes
    50053      2017-6-24    yes
    32211      2017-9-17    yes
    33422      2017-5-2     no
    77570      2020-12-14   yes

Inactive Members:


Membership No  Date Joined  Active
    50400      2018-3-24    no
    22123      2020-4-15    no
    84491      2019-5-25    no

In [72]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# revisando si el total de filas es igual

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Inactive members in file
Test Failed

In [73]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #Obtiene la informacion
            writeFile.seek(0)
            members = writeFile.readlines()
            #Remueve header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #Ir al principio del archivo a escribir
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# Imprimir archivos

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    58985      2018-9-9     yes
    47410      2016-11-23   yes
    73854      2020-5-14    yes
    63971      2019-1-9     yes
    24056      2019-10-16   yes
    22365      2015-8-18    yes
    38483      2016-8-9     yes
    50267      2017-10-5    yes
    84037      2020-7-6     yes
    15821      2020-9-6     yes
    50053      2017-6-24    yes
    32211      2017-9-17    yes
    77570      2020-12-14   yes

Inactive Members:


Membership No  Date Joined  Active
    50400      2018-3-24    no
    22123      2020-4-15    no
    84491      2019-5-25    no
    29577      2018-1-25    no
    14847      2015-11-3    no
    21103      2016-4-20    no
    68085      2017-5-13    no
    97003      2017-3-3     no
    37745      2020-2-5     no
    33422      2017-5-2     no

LOADING DATA

In [76]:
import pandas as pd                                 #Importamos pandas

csv_path = "california_housing_test.csv"            #Direccion del archivo
df = pd.read_csv(csv_path)                          #Almacena dataframe

print(df)                                           #Imrpime el dataframe

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [77]:
import pandas as banana                             #No estamos limitados a pd, podemos usar cualquier otro nombre

csv_path = "california_housing_test.csv"            #Direccion del archivo
df = banana.read_csv(csv_path)                             

print(df)                                           #Imrpime el dataframe

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [129]:
import pandas as banana                             #No estamos limitados a pd, podemos usar cualquier otro nombre

csv_path = "california_housing_test.csv"            #Direccion del archivo
df = banana.read_csv(csv_path)                      #El dataframe se almacena en la variable df

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [106]:
# Creacion de dataframe 
#Lo que se encuentra fuera de los corchetes son los titulos de las columnas
#Mientras que lo que se encuentra dentro son el contenido de cada una de las filas

songs = {"Album":    ["Thriller", "Back in Black", "The Dark Side of The Moon", "The Bodyguard", "Bat Out of Hell"], 
               "Released": [1982, 1980, 1973, 1992, 1977],
               "Length":   ["00:42:19", "00:42:11", "00:42:49", "00:57:44", "00:46:33"]}

songs_frame = pd.DataFrame(songs)             #Almacenamos el dataframe
print(songs_frame)                            #Imprimimos el df

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of The Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

In [90]:
#Podemos mostrar los datos de solo una de las columnas del dataframe
x=songs_frame[['Length']]
print(x)

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33

In [91]:
#Mostrando multiples columnas del dataframe
songs_frame_2 = songs_frame[["Album", "Length"]]
print(songs_frame_2)

                       Album    Length
0                   Thriller  00:42:19
1              Back in Black  00:42:11
2  The Dark Side of The Moon  00:42:49
3              The Bodyguard  00:57:44
4            Bat Out of Hell  00:46:33

In [131]:
songs_frame.iloc[0, 0]                     #Muestra el elemento de la posicion especificada

'Thriller'

In [120]:
songs_frame['Released'].unique()

array([1982, 1980, 1973, 1992, 1977])

In [122]:
 #si dereamos hacer una lista de canciones que se hayan publicado despues de los 80 podemos filtrarlos con el siguiente codigo
songs_frame['Released']>=1980    #Muestra verdadero o falso

0     True
1     True
2    False
3     True
4    False
Name: Released, dtype: bool

In [125]:
songs_frame.to_csv("songs.csv") #Guardar Data Frame

In [135]:
songs_frame.loc[1, 'Album']   #Accesando con el nombre

'Back in Black'

In [136]:
songs_frame.loc[2, 'Album']   #Accesando con el nombre

'The Dark Side of The Moon'

In [138]:
songs_frame.iloc[0:2, 0:3]   #Se acceder usando rangos

           Album  Released    Length
0       Thriller      1982  00:42:19
1  Back in Black      1980  00:42:11

In [141]:
songs_frame.loc[0:2, 'Album':'Released']   #Rangos usando los nombres de las columnas

                       Album  Released
0                   Thriller      1982
1              Back in Black      1980
2  The Dark Side of The Moon      1973